<%- include ("partials/header") %>

<div class="container">
	<div class="row mt-4">
		<div class="col-12 show_details-container">
			<h1><%= recipe.title %></h1>
			<p><%= recipe.description %></p>
		<div class="col-12 show_image-container">
			<img src="<%= recipe.image_link %>">
		</div>
			<table class="table col-12">
			  <tbody>
				<tr>
				  <th scope="row">Author</th>
				  <td><%= recipe.author %></td>
				</tr>
				  <th scope="row">Date</th>
				  <td><%= recipe.date %></td>
				</tr>
				<tr>
				  <th scope="row">Genre</th>
				  <td><%= recipe.genre %></td>
				</tr>
				<tr>
				  <th scope="row">Instructions</th>
				  <td><%= recipe.instructions %></td>
				</tr>
				<tr class="d-flex flex-row">
					<th scope="row">Portion?</th>
			  		<td><button id="change_units_metric" class="p-2 btn btn-dark">METRIC!</button></td>
					<td><button id="change_units_goblin" class="p-2 btn btn-secondary">GOBLIN!</button></td>
					<td><button id="change_units_imperial" class="p-2 btn btn-light">IMPERIAL!</button></td>
				</tr>
				<tr>
					<table class="table table-bordered">
						<tr>
      						<th>Ingredient</th>
      						<th>Amount</th>
      						<th>Unit</th>
    					</tr>
						<% for(i=0; i<10; i++) { %>
				  		<tr>
							<td class="ingredients"><%= recipe.ingredients[i].name %></td>
							<td class="ingredients"><%= recipe.ingredients[i].amount %></td>
							<td class="ingredients"><%= recipe.ingredients[i].measurement %></td>
						</tr>
						<% } %>
					</table>
				</tr>
				<tr>
			  </tbody>
			</table>
			<% if (user && user.username === recipe.owner.username) { %>
				<a href="/recipes/<%= recipe.id %>/edit">
					<button class="btn btn-outline-info btn-lg btn-block mb-2">Edit</button>
				</a>
				<form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
				</form>
			<% } %>
		</div>
	</div>
	<div class="row">
		<a href="/recipes/<%= recipe._id %>/comments/new" class="col-3">
			<button class="btn-success btn-lg mt-3 mb-4">Add Comment</button>
		</a>
		<div>
			<% if (user && recipe.upvotes.indexOf(user.username) >= 0) { %>
				<button id="upvote_btn" class="btn btn-success btn-lg mt-3">+</button>
			<% } else if (user) { %>
				<button id="upvote_btn" class="btn btn-outline-success btn-lg mt-3">+</button>
			<% } %>
			<span id="score" class="mx-2"><%= recipe.upvotes.length - recipe.downvotes.length %></span>
			<% if (user && recipe.upvotes.indexOf(user.username) <= 0) { %>
				<button id="downvote_btn" class="btn btn-danger btn-lg mt-3">-</button>
			<% } else if (user) { %>
				<button id="downvote_btn" class="btn btn-outline-danger btn-lg mt-3">-</button>
			<% } %>
		</div>
	</div>
	
	<% comments.forEach((comment) => { %>
		<div class="row show_comment-container py-2 border">
			<div class="col-2 border-right my-auto">
				<%= comment.user.username %>
			</div>
			<div class="col-2 border-right my-auto d-flex flex-wrap justify-content-center">
				<% if (user && user.username === comment.user.username) { %>
				<a class="btn btn-sm btn-success w-75 p-0 my-1" href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">Edit</a>
				<form class="w-75 my-1" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger w-100 p-0">Delete</button>
				</form>
				<% } %>
			</div>
			<div class="col-8 my-auto">
				<%= comment.text %>
			</div>
		</div>
	<% }) %>
	<div class="py-5"></div>
</div>
<script>
	var recipeId = "<%- recipe._id %>"
</script>
<script src="/js/recipes_show.js"></script>
<script src="/js/recipe_conversions.js"></script>

<%- include ("partials/footer") %>